@import url('https://fonts.cdnfonts.com/css/libertinus-serif');
@import url('https://fonts.cdnfonts.com/css/libertinus-sans');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --fg: #101010;
  --bg: #FFF;
  --accent: #000085; 
  --accent-hl: #0000FF;
  --bg-code: #f2f2f2;
}

body {
  font-family: "Libertinus Serif", sans-serif;
  margin: auto;
  max-width: 671px;
  background: var(--bg);
  hyphens: auto;
  color: var(--fg);
  font-size: 1.15rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Libertinus Sans", serif;
  font-variant-caps: small-caps;
}

h1 {
  font-family: "Libertinus Sans", serif;
  font-size: 2rem;
  text-align: left;
  margin: 45px 0;
  letter-spacing: 0.1rem;
}

h2, h3, h4, h5, h6 {
  font-size: 1.25rem;
  letter-spacing: 0.04rem;
  margin-top: 34px;
  margin-bottom: 10px;
}

/* Paragraph */

p {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 15px;
  line-height: 1.36;
  text-align: justify;
}

h2 + p {
  margin-top: 0;
}

/* Hyperlinks */

a {
  color: var(--fg);
  text-decoration: none;
}

p > a {
  color: var(--accent);
  font-weight: 500;
}

p > a:hover {
  color: var(--accent-hl);
}


a:hover {
  color: var(--accent);
}

/* Lists */

ul, ol {
  margin: 5px 0;
}

li {
  line-height: 1.8;
}

li ol, li ul {
  margin: 0;
}

/* Images */

figure {
  margin: 40px 20px;
}

figcaption:before {
  content: "Figure:";
  margin-right: 5px;
  font-weight: 900; 
  font-size: 1.08rem;
}

figcaption{
  margin: 15px 0;
  font-weight: 300; 
  font-size:1.03rem;
 }

img {
  box-shadow: 0 0 0.9rem var(--fg);
  display: block;
  width: 100%;
}

/* Code CSS */

code {
  font-family: "Ubuntu Mono", monospace;
  font-size: 0.9rem;
  background: var(--bg-code);
  color: var(--fg);
}

pre {
  padding: 15px;
  border-radius: 10px;
  background: var(--bg-code);
  margin: 1em 0;
  overflow: auto;
  line-height: 1;
}

p code {
  font-size: 0.95rem;
  padding: 2px 4px;
  border-radius: 3px;
}

/* Table */

table {
  margin: 25px auto;
  border-collapse: collapse;
  overflow-x: auto;
}

th {
  border-bottom: solid 1px var(--fg);
  font-weight: 500;
}

td, th {
  padding: 7px 12px;
}

/* Blockquotes */

blockquote p {
  font-size: 1.08rem;
  font-style: italic;
  margin: 0;
}

/* Header */

header {
  height: 30px;
  width: 100%;
  margin: 30px auto;
  font-family: "Libertinus Sans", monospace;
  font-variant-caps: small-caps;
  padding: 10px 0;
  border-bottom: solid var(--fg) 2px;
  text-transform: lowercase;
}

.header-title {
  display: inline-block;
  font-weight: 700;
  font-size: 2rem;
  line-height: 30px;
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-title a {
  text-decoration: none;
}

.header-title a:hover {
  color: var(--accent);
}

header li, header ul {
  display: inline-block;
  float: right;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

header li {
  font-size: 1.2rem;
  margin-left: 15px;
}

header li a {
  text-decoration: none;
}

/* Post list */
.post-list {
  padding: 0;
  margin: 20px;
  font-family: "Libertinus Sans", sans-serif;
}

.post-list .post-date {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Ubuntu Mono", monospace;
  margin: 4px 0;
  text-align: left;
}

.post-item {
  margin: 25px 0;
}

/* Footer */

footer {
  margin: 50px auto;
  font-size: 0.9rem;
  text-align: center;
  font-family: "Libertinus Sans", sans-serif;
}

/* Tablets */
@media screen and (max-width: 900px) {
  body {
    max-width: 530px;
  }
}

/* Smartphone Tweaks */
@media screen and (max-width: 450px) {

  body {
    width: 85%;
    font-size: 1rem;
  }

  .header-title {
    font-size: 1.8rem;
    color: red;
  }

  blockquote p {
    font-size: 0.96rem;
  }

  p {
    text-align: left;
    font-size: 1.05rem;
  }

  blockquote {
    margin: 10px 0;
    margin-left: 15px;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
  }

  pre {
    padding: 9px;
    margin: 30px 0;
  }

  pre code {
    font-size: 0.85rem;
    line-height: 1.3;
  }

  ul, ol {
    padding-left: 32px;
    margin: 0;
  }

  figure {
    margin: 20px 10px;
  }
}
